<div class="bg-[#404EED] md:h-[626px] pr-4 pt-16">
  <div>
    <h2
      class="font-['Ginto-Nord'] font-extrabold text-white text-[clamp(24px,5vw,44px)] ml-6"
    >
      IMAGINE A PLACE...
    </h2>
    <p class="text-white text-[15px] font-normal mt-4 ml-6">
      ...where you can belong to a school club, a gaming group, or a worldwide
      art community. Where just you and a handful of friends can spend time
      together. A place that makes it easy to talk every day and hang out more
      often.
    </p>
    <div class="bg-white w-fit py-3 px-8 rounded-3xl mt-8 ml-6">
      <a
        class="flex"
        href="https://discord.com/api/downloads/distributions/app/installers/latest?channel=stable&platform=win&arch=x86"
      >
        <img
          class="mr-3"
          src="/assets/images/download-icon.svg"
          alt="download icon"
        />
        <span class="font-ggsans font-medium text-xl"
          >Download for Windows</span
        >
      </a>
    </div>
    <div class="bg-stone-800 text-white w-fit py-4 px-8 rounded-3xl mt-8 ml-6">
      <a class="flex" href="#">
        <span class="font-ggsans font-medium text-xl"
          >Open Discord on your browser</span
        >
      </a>
    </div>
  </div>
  <div class="bg-[#404EED] mt-16 w-screen">
    <img
      class="ml-[-80px]"
      src="/assets/images/banner-1.svg"
      alt="hero illustration"
    />
  </div>
</div>
